---
import CommandsSection from '../components/commands-section.astro';
import HeroSection from '../components/hero-section.astro';
import HighlightsSection from '../components/highlights-section.astro';
import LocalDomainsSection from '../components/local-domains-section.astro';
import PublicUrlsSection from '../components/public-urls-section.astro';
import CtaSection from '../components/cta-section.astro';
import SiteFooter from '../components/site-footer.astro';
import SiteHeader from '../components/site-header.astro';
import Layout from '../layouts/layout.astro';
---

<Layout>
  <SiteHeader />
  <main>
    <HeroSection />
    <LocalDomainsSection />
    <PublicUrlsSection />
    <CommandsSection />
    <HighlightsSection />
    <CtaSection />
  </main>
  <SiteFooter />
</Layout>
